{% extends 'base_layer.html' %}

{% block js %}

<script>
    //bootstrapValidator实现表单验证
    $(function () {
        $('form').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
                },
            fields: {
                keyword: {
                    message: '验证失败',
                    validators: {
                        notEmpty: {
                            message: '不能为空'
                        }
                    }
                },
                value: {
                    message: '验证失败',
                    validators: {
                        notEmpty: {
                            message: '不能为空'
                        },
                        numeric: {
                            message: '只能输入数字'
                        }
                    }
                }
            }
        });
    });

</script>

{% endblock %}

{% block body %}

<br/>
<form id="form" name="form" class="form-horizontal" action="{{url_for('keyword_modify')}}" method="post">
    <input id="ID" name="ID" type="text" style="display:none" value="0">
    <div class="form-group">
        <label for="keyword" class="col-xs-4 col-sm-2 col-md-2 control-label" style="">关键词:</label>
        <div class="col-xs-8 col-sm-6 col-md-6">
            <input type="text" class="form-control" id="keyword" placeholder="" name="keyword">
        </div>
    </div>
    <div class="form-group">
        <label for="type" class="col-xs-4 col-sm-2 col-md-2 control-label" style="">词性:</label>
        <div class="col-xs-8 col-sm-4 col-md-4">
            <input type="text" class="form-control" id="type" placeholder="" name="type">
        </div>
    </div>
    <div class="form-group">
        <label for="importance" class="col-xs-4 col-sm-2 col-md-2 control-label" style="">权重:</label>
        <div class="col-xs-8 col-sm-2 col-md-2">
            <input type="text" class="form-control" id="importance" placeholder="" name="importance">
        </div>
    </div>
    <div class="form-group">
        <button id="confrim" name="confrim" type="submit" class="btn btn-info" style="float:right">保存修改
        </button>
    </div>
</form>

<script>
    //结果检测
    {% if error %}
        parent.layer.msg("<span style='color:red; font-size:18px;'>"+'服务器出错！'+"</span>", {icon: 2,time:3000, msg:['#fff']});
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    {% elif modify == false %}
        layer.msg("<span style='color:red; font-size:18px;'>"+'提交失败！'+"</span>", {icon: 2,time:3000, msg:['#fff']});
    {% elif modify %}
        parent.layer.msg("<span style='font-size:18px;'>"+'修改成功！'+"</span>", {icon:1,time:1000});
        var index = parent.layer.getFrameIndex(window.name);
        parent.$("#table").bootstrapTable('refresh');
        parent.layer.close(index);
    {% endif %}

    //初始化输入框
    $(function () {
        var a = parent.data;
        $("#ID").val(a.id);
        $("#keyword").val(a.kw);
        $("#type").val(a.tp);
        $("#importance").val(a.it);
    });

</script>

{% endblock %}
